body {
    min-width: 420px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

input,
textarea {
    width: 420px;
    
}

input#save {
    font-weight: bold;
    width: auto;
}

h1 {
    background-color: #1DA1F2;

    padding: 10%;
    color: white;
    font-size: x-large;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
}


* {
  box-sizing: border-box;
}

/* Search Bar */
.search {
  width: 60%;
  margin: 0 auto;
  font-family: SF Pro Display;
  box-sizing: border-box;

}

/* Search Bar Input */
.searchTerm {
  width: 98%;
  outline-offset: -30px;
  border: 2px solid #1DA1F2;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: grey;
  font-family: SF Pro Display;
  outline-offset: -30px;
}

.searchTerm:focus{
  color: grey;
  font-family: SF Pro Display;
}